* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background: rgba(50, 50, 50, 0.6);
    position: fixed;
    width: 100vw;
    caret-color: transparent;
    align-items: center;
    padding: 5px, 0, 5px, 0;
    box-shadow: 0px 10px 40px #0000006c;
}

.text {
    padding: 10px;
    margin-right: auto;
    color: #ffffff;
    font-size: 18px;
}

.nav {
    display: flex;
    border-radius: 0.3em;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 15px 0 15px;

    height: 100%;

    text-decoration: none;
    color: #d28636;

    z-index: 3;
}

.nav-tab-item_icon {
    font-size: 20px;
}

.nav-item-label {
    font-size: 1em;
}

.slide {
    top: 2.5%;
    position: absolute;
    display: inline-block;
    height: 95%;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);

    opacity: 0;
    background-color: #bbb073ce;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

.fade-enter-active,
.fade-leave-active {
    transition: transform 0.7s ease;
}

.fade-enter-from {
    transform: translateY(-200%);
}

.fade-leave-to {
    transform: translateY(-200%);
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 17px;
}

.search:hover .searchInput,
.searchInput:focus{
    padding: 5px 5px 5px 3.8rem;
    width: 11rem;
}

.searchInput{
    padding: 5px 5px 5px 5px;
    height: 1.2rem;
    width: 3rem;
    border-radius: 1.2rem;
    transition: all 0.5s;
    border: none;
    outline: none;
    box-shadow: inset 0 0 2px orange, 0 0 3px orange;
    caret-color: black;
}

.searchButton{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #9b6b3c;
    color: #fff;
    text-shadow: 0 0 3px #000;

    height: 1.9rem;
    width: 3.6rem;
    left: 0rem;

    border-radius: 1.2rem;

    position: absolute;
    font-size: 0.97rem;
    text-align: center;
    border: none;
    box-shadow: inset 0 0 3px orange, 0 0 3px orange;
}